{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Movie Library{% endblock %}</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <img src="{% static 'images/movies-logo.png' %}" alt="Movies Logo" width="100" height="auto"/>
  <a class="navbar-brand" href="{% url 'movie_list' %}">Movie Library</a>
  <div class="navbar-nav">
    <a class="nav-item nav-link" href="{% url 'movie_list' %}">Movies</a>
    <a class="nav-item nav-link" href="{% url 'genre_list' %}">Genres</a>
    <a class="nav-item nav-link" href="{% url 'director_list' %}">Directors</a>
  </div>
</nav>

<div class="container">
  {% block content %}
  {% endblock %}
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
